<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header">
        <a href="/">YouTube Media Downloader</a>
      </header>
      <section class="main-section">
        <form action="/download" method="POST" class="urlForm">
          <input
            type="text"
            name="url"
            class="urlInput"
            placeholder="Enter Youtube Video Url Here"
          />
          <select id="type" name="type" class="typeSection">
            <option value="music">Music</option>
            <option value="video">Video</option>
          </select>
          <button type="submit" class="urlSendBtn">SEND</button>
        </form>
      </section>
    </div>
  </body>
</html>
