<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header">
        <a href="/">YouTube Media Downloader</a>
      </header>
      <section class="main-section">
        <h1>Müzik İndirme Sayfası</h1>
      </section>
    </div>
  </body>
</html>
