:root {
  --body-bg-color: rgb(49, 49, 49);
  --header-height: 60px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--body-bg-color);
}
body,
html {
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding-top: var(--header-height);
}
.main-header {
  width: 100%;
  height: var(--header-height);
  background-color: rgb(34, 34, 34);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header a {
  font-size: 18px;
  color: #bdbdbd;
  text-decoration: none;
  font-weight: bold;
}
.main-header a:hover {
  color: #e5e5e5;
}
.main-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.urlInput {
  max-width: 360px;
  width: 100%;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  padding-left: 1rem;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  position: relative;
}
.urlInput::placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: rgb(175, 175, 175);
}
.urlForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.urlSendBtn {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(121, 144, 248);
  color: #e5e5e5;
  font-weight: 600;
  font-size: 12px;
  border: none;
  padding: 12px 18px;
  margin-top: 0.4rem;
  width: 360px;
}
.typeSection {
  width: 360px;
  padding-left: 1rem;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0.4rem;
  border: none;
  outline: none;
}
